@import "common.css";
@import "input.css";
@import "layout.css";

@font-face {
  font-family: "Changa";
  src: url(https://fonts.neb.host/Changa/static/Changa-Regular.ttf);
}

@font-face {
  font-family: "Changa Bold";
  src: url(https://fonts.neb.host/Changa/static/Changa-Bold.ttf);
}

:root {
  --base-color: #527099;
  --light-color: #a6c4ee;
  --vlight-color: #bbd8ff;
  --dark-color: #244471;

  --debug-color: #715ec7;
  --debug-color-secondary: #dbbce2;
  --debug-color-light1: #e5e0ff;
  --debug-color-light2: #e8e3ff;
  --debug-color-light3: #ded8ff;
  --debug-color-light4: #e3e0f3;
  --debug-color-light5: #e1ddf7;
  --debug-color-medium: #8c85ae;

  --played-color: #1ebbd7;
  --unplayed-color: #8d8d8d;
  --white: #ffffff;
  --black: #111111;
  --shadow: #11111105;
  --shadow-dark: #11111125;
  --off-white: #f1f1f1;
  --gray: #e1e1e1;
  --gray-medium: #a7a7a7;
  --gray-dark: #787878;
  --marker-color: #222222;

  --window-win1: #5ec767;
  --window-win1-light: #e6f2e8;
  --window-win2: #51ac59;
  --window-skip1: #cec514;
  --window-skip1-light: #f1f1db;
  --window-lose1: #c75e5e;
  --window-lose1-light: #efdbdb;
  --window-lose2: #ad5151;
  --window-game-over-win: #d8e4d9;
  --window-game-over-lose: #e9dddd;

  font-family: "Changa", sans-serif;
  font-size: 16px;
}
